[IO]
SurfacePrefix=/Users/stuartwalsh/Projects/ETH/FractureSurfaces/Data/artificial/cleaned/4inch_standard_s1_cleaned_
OutputPrefix=/Users/stuartwalsh/Projects/ETH/FractureSurfaces/Data/artificial/2D/4inch_standard_s1_
ImageOutputPrefix=/Users/stuartwalsh/Projects/ETH/FractureSurfaces/Data/artificial/Images/4inch_standard_s1_

[SampleGrid]
Xmin=-50
Xmax=50
Ymin=-50
Ymax=50
Resolution=20
